################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NBitcoin/obj/Debug/netstandard2.0/NBitcoin.csprojAssemblyReference.cache
/NBitcoin.Tests/obj/Debug/netcoreapp2.1/NBitcoin.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Api.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Api.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.BlockStore.Tests/obj/Debug/netcoreapp2.1/Xels.Bitcoin.Features.BlockStore.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.BlockStore.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.BlockStore.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.ColdStaking.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.ColdStaking.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.Consensus.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.Consensus.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.MemoryPool.Tests/obj/Debug/netcoreapp2.1/Xels.Bitcoin.Features.MemoryPool.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.MemoryPool.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.MemoryPool.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.Miner.Tests/obj/Debug/netcoreapp2.1/Xels.Bitcoin.Features.Miner.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.Notifications.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.Notifications.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.PoA.IntegrationTests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.PoA.IntegrationTests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.PoA.IntegrationTests.Common/obj/Debug/netcoreapp2.1/Xels.Bitcoin.Features.PoA.IntegrationTests.Common.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.PoA.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.PoA.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.RPC.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.RPC.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.Wallet.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.Wallet.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Features.WatchOnlyWallet.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Features.WatchOnlyWallet.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Tests/obj/Debug/netcoreapp3.1/Xels.Bitcoin.Tests.csprojAssemblyReference.cache
/Xels.Bitcoin.Tests.Common/obj/Debug/netcoreapp2.1/Xels.Bitcoin.Tests.Common.csprojAssemblyReference.cache
/Xels.Bitcoin.Tests.Wallet.Common/obj/Debug/netcoreapp2.1/Xels.Bitcoin.Tests.Wallet.Common.csprojAssemblyReference.cache
/Xels.Features.FederatedPeg.IntegrationTests/obj/Debug/netcoreapp3.1/Xels.Features.FederatedPeg.IntegrationTests.csprojAssemblyReference.cache
/Xels.Features.SQLiteWalletRepository.Tests/obj/Debug/netcoreapp3.1/Xels.Features.SQLiteWalletRepository.Tests.csprojAssemblyReference.cache
/Xels.SmartContracts.Core.Tests/obj/Debug/netcoreapp2.1/Xels.SmartContracts.Core.Tests.csprojAssemblyReference.cache
/XelsDesktopWalletApp/obj/Debug/netcoreapp3.1/XelsDesktopWalletApp_MarkupCompile.i.lref
