<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util = "http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="XEO" Language="1033" Version="2.2.1.0" Manufacturer="Xeo.Xels.io" UpgradeCode="D91CBD07-4D55-48A4-A4C6-68AB528DA022">
    <Package InstallerVersion="200" Compressed="yes" Platform="x64" InstallScope="perMachine" />
    <!--Jeo: Upgrade code for newer version which automatically replace previous version -->
    <!--Start-->
    <Upgrade Id="D91CBD07-4D55-48A4-A4C6-68AB528DA022">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
        Minimum="1.0.0.0" IncludeMinimum="yes"
        Maximum="99.0.0.0" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>
    <!--Finish-->
    
    <!--Neo: Data-cleaning-code-1 : Add Property to Remove XelsNode\xeo folder from AppDataFolder-->
    <!--Neo: UnComment Next 2 lines to clean up cahin data.-->
    <!--<?define AppXeoFolder = "XelsNode\xeo" ?>
    <SetProperty Id="XEOFOLDER" Value="[AppDataFolder]$(var.AppXeoFolder)" After="CostFinalize" />-->
    <!--Neo: Data-cleaning-code-1 : ends here -->
    
    <!--<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
    <UIRef Id="WixUI_InstallDir" />-->
    
    <!--<MajorUpgrade DowngradeErrorMessage="A newer version of Xeo is already installed." />-->
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="XEO" Level="1">
      <ComponentGroupRef Id="Xeo_Project" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ApplicationShortcutDesktopTest" />
      <ComponentRef Id="ApplicationShortcutStartMenu" />
      <ComponentRef Id="ApplicationShortCutStartUp" />

      <!--Neo: Data-cleaning-code-2 : Add ComponentRef to Remove XelsNode\xeo folder from AppDataFolder-->
      <!--Neo: UnComment Next 1 line to clean up cahin data.-->
      <!--<ComponentRef Id="XeoFolderCleanup" />-->
      <!--Neo: Data-cleaning-code-2 : ends here -->
      
    </Feature>
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Xeo Daemon" />
    <Property Id="WixShellExecTarget" Value="[#filA619607DC814091FBF9BE5C93904F8E3]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="XEO" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="XEO"/>
      </Directory>
      <Directory Id="DesktopFolder" SourceName="Desktop" />
      <Directory Id="StartupFolder" Name="Xeo"/>

      <!--Neo: Data-cleaning-code-3 : Remove XelsNode\xeo folder from AppDataFolder-->
      <!--Neo: UnComment Next 3 lines to clean up cahin data.-->
      <!--<Component Id="XeoFolderCleanup" Guid="63127A7D-42F9-4A61-B661-A8ABCC3A7FE1">
        <util:RemoveFolderEx On="install" Property="XEOFOLDER"/>
      </Component>-->
      <!--Neo: Data-cleaning-code-3 : ends here -->
      
    </Directory>

    <DirectoryRef Id="StartupFolder">
      <Component Id="ApplicationShortCutStartUp" Guid="{C7154AD6-3F04-4394-BE0E-94E4AA4B8CB0}">
        <Shortcut Id="StartupShortcut" Name="XEO"
                  Description="XEO Decentralized Ecological Economy Platform"
                  Target="[#filA619607DC814091FBF9BE5C93904F8E3]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY" />


        <RegistryKey Root="HKCU" Key="Software\Microsoft\XEO" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="ShortCutStartUp" Type="integer" Value="1" KeyPath="yes"  />
        </RegistryKey>
      </Component>

    </DirectoryRef>

    <!--<SetDirectory Id="UserStartupFolder" Value="Startup"/>-->
    <!-- more wix stuff -->
    <!--<DirectoryRef Id="StartupFolder">
      <Component Id="StartupFolderShortcut" Guid="{DED0D751-10EC-4D38-A477-7273C54EAC04}">
        <Shortcut Id="StartupFolderShortcut" Name="XEO" Description="XEO Decentralized Ecological Economy Platform" Target="[#filA619607DC814091FBF9BE5C93904F8E3]" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\XEO" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>-->


    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{9BDF3F07-58DF-4248-B8DE-F36B66FCA917}" Win64='yes'>
        <!-- Neo: The Target attribute is important here.. This is the ID of the exe file. search for "filA619607DC814091FBF9BE5C93904F8E3" in XeoSideChainD.wxs file -->
        <Shortcut Id="ApplicationDesktopShortcut" Name="XEO" Description="XEO Decentralized Ecological Economy Platform" Target="[#filA619607DC814091FBF9BE5C93904F8E3]" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="RemoveFolder" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\XEO" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktopTest" Guid="{23868C61-6EF1-4777-8A72-CDD66F031821}" Win64='yes'>
        <!-- Neo: The Target attribute is important here.. This is the ID of the exe file. search for "filA619607DC814091FBF9BE5C93904F8E3" in XeoSideChainD.wxs file -->
        <Shortcut Id="ApplicationDesktopShortcutTest" Name="XEOTEST" Arguments="-testnet" Description="XEO Decentralized Ecological Economy Platform" Target="[#filA619607DC814091FBF9BE5C93904F8E3]" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="RemoveFolderTest" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\XEOTEST" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcutStartMenu" Guid="{BB86DFC5-23D3-4351-8802-09D23D1DFEB0}" Win64='yes'>
        <Shortcut Id="ApplicationStartMenuShortcut" Name="XEO" Description="XEO Decentralized Ecological Economy Platform" Target="[#filA619607DC814091FBF9BE5C93904F8E3]" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\XEO" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONROOTDIRECTORY">
    </ComponentGroup>
  </Fragment>
</Wix>
